// Grid system
.main {
  @include make-md-column($main-sm-columns);
  .sidebar-primary & {
    @include make-md-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-md-column($sidebar-sm-columns);
}

//#? Row equal height
.row-eq-height {
  display:         flex;
  flex-wrap:       wrap;
  flex-direction:  row;
}

//#? Align items
.align-items {
  display: flex;
  align-items: center;
}
