//#! BLACK THEME

$brand-body:                #1A1A1A;
$brand-primary:             #9C27B0;
$brand-primary-dark:        #7B1FA2;
$brand-secondary:           #191919;
$brand-accent:              #FFC107;
$brand-text-icons:          rgba(255, 255, 255, 0.6);
$brand-text-icons-a:        rgba(255, 255, 255, 1.0);
$brand-title:               rgba(255, 255, 255, 0.6);
$brand-meta:                rgba(255, 255, 255, 0.4);
$brand-paragraph:           rgba(255, 255, 255, 0.5);
$brand-pager-border-color:  $brand-body;
$brand-pwads:               #2A2A2A;
