/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

//# IMG Responsive
.responsive {
  @extend .img-responsive;
  width: 100%;
}

//#? Base transition
.base-transition {
  transition: all ease 300ms;
}

//#? Off canvas
.off-canvas {
  position: relative;
  transform: translateX(60vw);
  overflow: hidden;
  @extend .base-transition;
}

//#? Show nav
.show-nav {
  left: 0 !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

  .off-canvas {
    transform: translateX(30vw);
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

  .off-canvas {
    transform: translateX(20vw);
  }

}
